<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'welcome.css')}}">
 	<link rel="stylesheet" type="text/css" href="../static/welcome.css">
</head>
<body>
<div class="main">
	<form action="{{url_for('logout')}}" method="POST">
	<h1 class="name">Hi, {{name}}</h1><hr style="width: 30%">
	<input type="submit" name="logout" class="fadeIn fourth" value="Log Out">
	<!--<h3 class="email">{{email}}</h3>--></form>
</div>
</body>
</html>